@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");

/* Estilos da barra */
#google-maps-calculator {  
    background-color:#4285f4;
    font-family: 'Open Sans', sans-serif;
    z-index: 2147483647;
    min-width: 450px;
    min-height: auto;
    height: 60px;
    width: 100%;    
    position: fixed;
    top: 0;    
    left: 0;
    right: 0;    
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
}
#calc-header {    
    padding-right: 25px;
    color: white;
    display: flex;    
    flex-direction: row;    
    align-items: center;        
}
#calc-header a img {
    height: 32;
}
#btn-close {
    position: fixed; 
    align-items: center;  
    right: 2%;  
}
.calc-logo {
    color: white;    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center; 
}
.calc-logo a img {
    margin-right: 10px;
}
.calc-logo h5 {
    margin-top: 10px;
}
.calc-results {
    display: flex;
    flex-direction: row;    
    align-items: center;
}
.calc-result-item {
    flex: 1;
}
.calc-label {
    margin-right: 10px;
    text-align: left;    
}