ul {
    list-style: none;
}
.row {
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    width: 160px;
    margin-right: 10px;
}

/* Estilos da barra */

#calculadora-google-maps {  
    font-family: 'Open Sans', sans-serif;
    z-index: 2147483647;
    min-width: 450px;
    min-height: auto;
    width: 100%;
    position: fixed;
    top: 0;    
    left: 0;
    right: 0;    
}
#calc-header {
    background-color:#4285f4; /*#0d2d42*/;   
    color: white;
    padding: 5px;       
    display: flex;
    flex-direction: row;
    justify-content: left;  
    align-items: center;    
}
#calc-body {  
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;    
}
#btnClose {        
    height: auto;
    width: 32px;
    margin-right: 5px;
}
#btnClose :hover{
    cursor: pointer;
}
.calc-logo {
    color: white;
    display: flex;    
    flex-direction: row;   
    align-items: center;    
}
.calc-logo a img {
    margin-right: 10px;
}
.calc-title {
    padding-top: 10px;
}
