.report-title {
    background-color: #0d2d42;
}
.horizontalLine {
    margin: auto;
    transform: rotate(0deg);
    width: 50%;
    height: 2px;
    background: #1b1e21;
}
.sign {
    text-align: center;
}
.tab {
    display: inline-block;
    margin-left: 20px;    
}
.row {
    margin-bottom: 10px;
}