body{
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.popup-width {
    width: 400px;
}
.bg-title {
    background-color: #0d2d42;
}
.row-riedel {
    margin-top: 4px;
}
.horizontalLine {
    margin: auto;
    transform: rotate(0deg);
    width: 50%;
    height: 2px;
    background: #1b1e21;
}
.sign {
    text-align: center;
}
.tab {
    display: inline-block;
    margin-left: 20px;    
}